{%extends "base.html"%}

{%block title%}
Login - Lumos Book
{%endblock title%}





{%block body%}

{% load crispy_forms_tags %}
<hr>
<h3 style="text-align: center;" class="text-info">Login</h3>
<hr>
<div class="row" style="color:cadetblue;">
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token%}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-outline-info">Login</button>
            <br>
            <br>
            <a href="{% url 'user:register'%}"><p class="text-info"><small>Sign Up</small> </p>  </a>
        </form>
    </div>
</div>


{%endblock body%}





{%block scrs%}

{%endblock scrs%}