{%extends "base.html"%}

{%block title%}
{{request.user.username}} - Lumos Book
{%endblock title%}





{%block body%}

<hr>
<h3 style="text-align: center;" class="text-info">{{request.user.username}}</h3>
<h5 style="text-align: center;" class="text-info">Hi, {{request.user.first_name}} {{request.user.last_name}}</h5>
<hr style="border-top:1px solid aqua;">
<hr>
<h5 style="text-align: center;" class="text-warning">Your Bookmark List</h5>

{%if details%} 
<div class="text-center">
    <table class="table table-striped table-info">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Page Count</th>
            
            <th scope="col">See More Details</th>
            <th scope="col">Remove From List</th>
          </tr>
        </thead>
        <tbody>
            {%for detail in details %}
                <tr>
                    <td>{{detail.title}}</td>
                    <td>{{detail.authors}}</td>
                    <td>{{detail.publisher}}</td>
                    <td>{{detail.pages}}</td>
                    <td><a href="{% url 'book:detail' detail.isbn13 %}" class="btn btn-secondary text-white">Details</a></td>
                    <td><a href="{% url 'bookmark' detail.isbn13 request.user.id%}" class="btn btn-danger text-white">Remove</a></td>

                </tr> 
            {%endfor%}
        </tbody>
    </table>
</div>
{%else%}
<div class="alert alert-info" style="text-align: center;">Your list is empty.</div>
{%endif%}

{%endblock body%}
